@import  '../../Variables.scss';

.container {
    width: 100vw;
    padding: 20px;
    min-height: 100vh;

    .inner-width {
        width: 100%;
        padding: 0 10px;
        .content {
            position: relative;
            display: grid;
            align-items: center;
            margin: 0 auto; //trick
            grid-auto-rows: minmax(auto, auto);
            grid-template-columns: repeat(4, auto);
            grid-template-areas:
            "b c c c"
            "b d d d"
            "e e e e";

            h2 {
                grid-area: c;
                max-width: 85vw;
                font-style: italic;
            }

            .slash {
                grid-area: d;
                max-width: 80%;
                padding: 20px;
            }

            .skills {
                margin-top: 20px;
                grid-area: e;
                display: flex;
                padding: 20px;
                flex-direction: column;
                justify-content: space-between;

                .sub{
                    font-size: 1.3rem;
                    font-weight: 700;
                    margin-bottom: 20px;
                }

                &-detail{
                    display: flex;
                    flex-direction: row;
                    .highlight{
                        width: 40%;
                    }

                    .tech{
                        .tags{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            max-width: 300px;

                            .tag {
                                list-style: none;
                                border: 1px solid transparent;
                                background-color: $primary-color;
                                width: fit-content;
                                color: white;
                                font-size: 0.8rem;
                                padding: 2px 4px;
                                margin: 2px;
                                border-radius: 3px;
                            }
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    .skills{
                        &-detail{
                            flex-direction: column;
                            .highlight{
                                width: 50%;
                            }
                            .tech{
                                max-width: 50%;
                                .tags{
                                    padding: 0;
                                }
                            }
                        }
                    }
                }



                .bar {
                    margin: 10px;
                    max-width: 80vw;
                    min-width: 250px;
                }
            }

            .avatar {
                grid-area: b;
                padding: 20px;

                img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 30px;
                }
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(1, auto);
                grid-template-areas:
                "c"
                "b"
                "d"
                "e";
            }
        }


        .a {
            font-weight: 900;
            height: 100px;
        }

    }

}
