@import  '../../Variables.scss';

.container {
    width: 100vw;
    background-color: whitesmoke;
    padding-bottom: 20px;

    .inner-width {
        width: 100%;
        padding: 0 10px;

        h1 {
            display: flex;
            justify-content: center;
            margin: 0;
            padding-top: 20px;
        }
        .content {
            position: relative;
            display: grid;
            align-items: center;
            margin: 0 auto; //trick
            grid-auto-rows: minmax(auto, auto);
            grid-template-columns: repeat(4, auto);
            grid-template-areas:
            "b c c c"
            "b d d d"
            "e e e e";

            h2 {
                grid-area: c;
                max-width: 85vw;
                font-style: italic;
            }

            p {
                grid-area: d;
                max-width: 80%;
            }

            .skills {
                margin-top: 20px;
                grid-area: e;
                display: flex;
                flex-flow: row wrap;
                max-width: 85vw;
                justify-content: space-between;
                .bar {
                    margin: 10px;
                    max-width: 80vw;
                    min-width: 250px;
                }
            }


            .avatar {
                grid-area: b;
                padding: 20px;

                &-img {
                    width: 200px;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 30px;
                }
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(1, auto);
                grid-template-areas:
                "c"
                "b"
                "d"
                "e";
            }
        }


        .a {
            font-weight: 900;
            height: 100px;
        }

    }

}
