.container{
  width: 100%;
  background-color: whitesmoke;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover{
    .image{
      filter: contrast(100%);
    }
  }

  .image{
    overflow: hidden;
    height: 200px;
    filter: contrast(70%);
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    &::before {
      content: "";
      display: block;
      padding-top: 56.25%; // 16:9 aspect ratio
    }
    @media(min-width: 40rem) {
      &::before {
        padding-top: 66.6%; // 3:2 aspect ratio
      }
    }
  } 
  .content{
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .title{
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .text{
      margin: 0;
      font-size: 0.875rem;
      line-height: 1.5;
      margin-bottom: 1.25rem;
    }

  }

}
