---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Nguyen Trong Binh">
  <div class="bg-slate-300">
    <h1>Welcome to <span class="text-red-500">Astro</span></h1>
  </div>
</Layout>
