@import "../../Variables.scss";

@keyframes show {
  from {
      bottom: 0;
      color: white;
  }
  to {
    bottom: -23px;
    color: red;
  }
}


.container {
    width: calc(100vw - 10px);
    background-color: $primary-color;
    .inner-width {
        width: 100%;
        padding-bottom: 50px;
        .content {
            h1 {
                color: white;
                text-align: center;
                padding-top: 30px;
            }

            .form {
                border-radius: 5px;
                background-color: white;
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .required::after {
                    content: " * ";
                    color: red;
                    font-style: italic;
                    vertical-align: super;
                    font-size: 0.8rem;
                }

                .actions{
                    display: flex;
                    justify-content: center;
                    margin: 32px;
                    button{
                        height: 60px;
                        width: 100px;
                        border-radius: 5px;
                        border: 1px solid gray;
                        background-color: $primary-color;
                        color: white;
                    }
                }

                .group {
                    margin: 2rem;
                    display: flex;
                    justify-content: space-between;
                    line-height: 1.5rem;

                    .input-field {
                        width: 85%;
                        position: relative;
                        display: block;
                    }

                    .error {
                        position: absolute;
                        bottom: -22px;
                        left: 2px;
                        color: red;
                        font-size: 0.7rem;
                        animation: show 0.3s ease-in;
                    }

                    label {
                        width: 15%;
                    }

                    input {
                        width: 100%;
                        height: 1.5rem;
                        padding: 5px;
                        border: 1px solid lightgray;
                        border-radius: 5px;

                        &:focus {
                            outline: none !important;
                            border-color: $primary-color;
                            box-shadow: 0 0 5px $primary-color;
                        }
                    }

                    textarea {
                        width: 100%;
                        padding: 5px;
                        border: 1px solid lightgray;
                        border-radius: 5px;
                        resize: none;
                        height: 100px;

                        &:focus {
                            outline: none !important;
                            border-color: $primary-color;
                            box-shadow: 0 0 5px $primary-color;
                        }
                    }

                }
            }
        }
    }
}
