@import '../../Variables.scss';

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
    background-color: transparent;
    z-index: 2;

    .logo {
        color: white;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }

    &-link {
        display: flex;
        justify-content: space-around;
        width: 50%;

        li {
            list-style: none;
        }

        a {
            color: rgb(226, 226, 226);
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
        }
    }

    .burger {
        display: none;
        cursor: pointer;

        div {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 5px;
            transition: all 0.3s ease-in-out;
        }
    }


    @media screen and (max-width: 1024px) {
        &-link {
            width: 35%;
        }
    }

    @media screen and (max-width: 768px) {
        &-link {
            position: absolute;
            z-index: 999;
            right: -100%;
            height: 92vh;
            top: 8vh;
            background-color: $primary-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transition: 0.3s linear;

            li {
                opacity: 0;
            }
        }

        .burger {
            display: block;
            position: absolute;
            right: 50px;
        }
    }

    &-active {
        right: 0;

        li {
            opacity: 1;
        }
    }

    .toggle {
        .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .line2 {
            opacity: 0;
        }

        .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }


}