
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import '../../Variables.scss';

.img{
    max-width: 120px;
    padding: 10px;
}

.title{
    color: #c0392b;
    font-weight: 700;
}

.container {
    width: calc(100vw - 10px);
    background-color: #fff;
    min-height: 100vh;

    .inner-width {
        width: 100%;
        .content {
            .timeline {
                position: relative;
                width: 100%;
                padding: 20px 0;
                box-sizing: border-box;

                &::before {
                    // line
                    content: '';
                    position: absolute;
                    left: 50%;
                    width: 2px;
                    height: 90%;
                    background-color: #c5c5c5;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;
                        position: relative;
                        width: 50%;
                        padding: 20px 40px;
                        box-sizing: border-box;

                        &:nth-child(odd) {
                            float: left;
                            text-align: right;
                            clear: both;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 24px;
                                right: -6px;
                                width: 10px;
                                height: 10px;
                                background: $primary-color;
                                border-radius: 50%;
                                box-shadow: 0 0 0 3px lighten($color: $primary-color, $amount: 30%);
                            }

                            .time{
                                position: absolute;
                                top: 12px;
                                right: -200px;
                                width: 163px;
                                text-align: left;
                                h4{
                                    margin: 0;
                                    padding: 8px 16px;
                                    background: $primary-color;
                                    color: #fff;
                                    border-radius: 18px;
                                    box-shadow: 0 0 0 3px lighten($color: $primary-color, $amount: 20%);
                                }
                            }
                        }

                        &:nth-child(even) {
                            float: right;
                            text-align: left;
                            clear: both;

                            &::before {
                                content: '';
                                position: absolute;
                                top: 24px;
                                left: -4px;
                                width: 10px;
                                height: 10px;
                                background: $primary-color;
                                border-radius: 50%;
                                box-shadow: 0 0 0 3px lighten($color: $primary-color, $amount: 30%);
                            }

                            .time{
                                position: absolute;
                                top: 12px;
                                left: -165px;
                                width: 140px;
                                h4{
                                    margin: 0;
                                    padding: 8px 16px;
                                    background: $primary-color;
                                    color: #fff;
                                    border-radius: 18px;
                                    box-shadow: 0 0 0 3px lighten($color: $primary-color, $amount: 20%);
                                }
                            }
                        }

                        h3 {
                            margin: 0;
                            padding: 0;
                            font-weight: 600;
                            color: $primary-color;
                        }
                        .time{
                            h4{
                                margin: 0;
                                padding: 0;
                            }
                        }

                        .description {
                            padding-bottom: 20px;
                            font-size: 1rem;
                        }
                    }


                }


                @media screen and (max-width: 768px) {
                    &::before {
                        // line
                        left: 50px;
                    }
                    ul{
                        li{
                            display: flex;
                            flex-direction: column-reverse;
                            width: 100%;
                            
                            &:nth-child(odd) {
                                float: right;
                                text-align: left;

                                &::before {
                                    left: 46px;
                                }

                                .time{
                                    top: -10px;
                                    right: -40px;
                                    width: fit-content;
                                    position: relative;
                                }
                            }

                            &:nth-child(even) {

                                &::before {
                                    left: 46px;
                                }

                                .time{
                                    top: -10px;
                                    left: 40px;
                                    width: fit-content;
                                    position: relative;
                                }
                            }
                            .description{
                                padding-left: 50px;
                            }
                        }
                    }
                }


            }
        }
    }
}
