@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  src: url("./asset/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
  url("./asset/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@import "./Variables.scss";

html,
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;

  h1{
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 25px 0;
    &::after{
      content: '';
      position: absolute;
      left: -26px;
      top: 31px;
      height: 20px;
      width: 20px;
      background-color: $primary-color;
    }
  }
}
/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
