$primary-color: #2c3e50;
$secondary-color: #61dafb;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;

:export {
    primaryColor: $primary-color;
    darkColor: $dark-color;
    successColor: $success-color;
}