@import "../../Variables.scss";

.container {
    min-height: 600px;
    .inner-width {
        height: 100%;
        .content {
            .slider{
                position: relative;

                .carousel-container{
                    display: flex;
                    justify-content: center;
                    .carousel{
                        max-width: 500px;
                    }
                }
                .slide-img{
                    max-height: 400px ;
                    width: auto;
                }

                .more{
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 2rem;
                    .text{
                        color: $primary-color;
                        line-height: 1.5rem;
                        border-radius: 5px;
                        text-decoration: none !important;
                    }
                    height: 400px;
                    width: 250px;
                }
            }
        }
    }
}
