.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right top, #2c3e50, #334f58, #455f5d, #5e6d63, #787b6f);
    background-size: cover;

  .close{
    position: fixed;
    color: white;
    right: 5%;
    top: 5%;
    font-size: 2rem;
  }

  h1{
    color: white;
    margin-left: 100px;
    &:after{
      top: 40px;
    }
  }
  a{
    color: white;
    cursor: pointer;
  }
  .content{
    li{
      list-style: none;
      margin: 0;
    }
    display: flex;
    width: 100%;
    max-height: calc(100vh - 75px);
    justify-content: space-around;
    flex-direction: row;
    .carousel{
      width: 50%;
      .img{
        width: 400px;
      }
    }
    .info{
      width: 25%;
      max-height: calc(100vh - 120px);
      padding: 10px;

      overflow: auto;
      .sub{
        color: white;
        a{
          text-decoration: none;
        }
        i{
          margin-right: 10px;
          color: #09aeea;
        }

        .desc{
          padding: 10px;
          li{
            margin: 10px 0;
          }
        }
        .tags{
          display: flex;
          padding: 10px;
          flex-wrap: wrap;
          .tag{
            font-size: 0.8rem;
            border: 1px solid transparent;
            width: fit-content;
            background-color: #7f8c8d;
            border-radius: 2px;
            padding: 2px 4px;
            margin: 2px;
          }
        }
        .roles{
          padding: 0 30px;
          .role{
            list-style: disc;
          }
        }
        .title{
          font-size: 1.3rem;
          font-weight: 700;
          width: fit-content;
          position: relative;
          &::after{
            content: '';
            height: 20px;
            width: 30px;
            top: 10px;
            right: -10px;
            opacity: 0.45;
            position: absolute;
            background-image: -webkit-repeating-radial-gradient(center center, #09aeea, #09aeea 1px, transparent 0px, transparent 100%);
            background-size: 6px 6px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 850px){
    .content{
      flex-direction: column;
      max-height: 100%;
      .carousel{
        width: 100%;
      }
      .info{
        width: 100%;
      }
    } 
  }
}

@media screen and (max-width: 850px){
  .container{
    height: 100%;
  }
}
